.input {
	padding: 28px 0 26px 28px;
	width: 320px;
	border-radius: 160px;
	border: 1px solid #979797;
}

.input-button {
	padding: 28px 26px;
	border-radius: 60px;
	border: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
